@font-face {
  font-family: customFont;
  src: url(/fonts/optimusprinceps/OptimusPrinceps.ttf);
}

html, body {
  height: 100%;
  margin: 0px;
  font-family: customFont;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #d60039;
}

/* Custom page header */
header {
  display:flex;
  justify-content: space-around;
  color: #ffffff;
  background-color: #eee6c5;
  background-image: url(/images/wood1.jpg);
  background-size: 100%;
  background-position-y:0%; 
  height:5%;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.center{
  display:flex; 
  justify-content: space-around;
  background-color: #1032f3;
  flex:1;
}

    .menu{
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      flex:1;
      background-color: #f1eee4;
      border-top: 1px solid #ffffff;
      border-left: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
    }

        .menu p {
          display:flex;
          flex:1;
          justify-content: space-around;
        }

        .menu a {
          display:flex;
          justify-content: space-around;
          flex:4;
          background-color: #f1eee4;
          border-top: 1px solid #ffffff;
          padding: 10px;

        }
    

    .content{
      display:flex;
      flex-direction: column;
      flex:5;
      background-color: #ebc908;
    }
        section{
          display:flex;
          flex-direction: row;
          justify-content: space-around;
          flex:1;
          background-color: #ff0000;
        }

            article{
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              flex:8;
              background-color:#f8f6ed; 
              border-top: 1px solid #ffffff;
              padding: 10px;
            }

            .aside-content{
              display: flex;
              flex-direction: column;
              flex:1;
              background-color: #eeebe3;
            }
                aside{
                  display: flex;
                  flex:1;
                  background-color: #eeebe3;
                  border-top: 1px solid #ffffff;
                  border-left: 1px solid #ffffff;
                  padding: 10px;
                }

/* Custom page footer */
footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  color: #ffffff;
  background-color: #eee6c5;
  background-image: url(/images/wood1.jpg);
  background-size: 100%;
  background-position-y:7%; 
  flex:1;
  text-align: justify;
}

h1 {
  display: flex;
  justify-content: space-around;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

input{
  display: flex;
  margin-left: 10px;
  text-align: center;
}