<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../styles/PersoFlexbox/style_flex.css" />
        <title>Site perso : Flexbox</title>
    </head>

    <body class="container body">
		<div class="container bandeautop1"></div>
		<div class="container bandeautop2"></div>
		
        <header class="container menu_haut">
			

			<div class="container block_top">
					<a class="item item_top" href="">Menu 1</a>
				<div class="container top_deroulant">
					<a class="item item_top" href="#1">Sous-menu 1</a>
					<a class="item item_top" href="#2">Sous-menu 2</a>
				</div>
			</div>

			<div class="container block_top">
					<a class="item item_top" href="">Menu 2</a>
				<div class="container top_deroulant">
					<a class="item item_top" href="">Sous-menu 1</a>
					<a class="item item_top" href="">Sous-menu 2</a>
				</div>
			</div>

			<div class="container block_top">
					<a class="item item_top" href="">Menu 3</a>
				<div class="container top_deroulant">
					<a class="item item_top" href="">Sous-menu 1</a>
					<a class="item item_top" href="">Sous-menu 2</a>
				</div>
			</div>

			<div class="container block_top">
					<a class="item item_top" href="">Menu 4</a>
				<div class="container top_deroulant">
					<a class="item item_top" href="">Sous-menu 1</a>
					<a class="item item_top" href="">Sous-menu 2</a>
				</div>
			</div>

		</header>
        
		
        <div class="container centre">

        	<div class="container menu_cote">
            	<a class="container block_cote" href="#">CV</a>
            	<a class="container block_cote" href="https://www.linkedin.com/in/romain-bergeron/" target="_blank">Linkedin</a>
            	<a class="container block_cote" href="#">Projets</a>
            	<a class="container block_cote" href="http://localhost:8040/projet/microservice-test?var1=1&var2=flexbox&var3=menu&var4=4">Microservice</a>
            	<a class="container block_cote" href="#">5</a>
            	<a class="container block_cote" href="#">6</a>
            	<a class="container block_cote" href="#">7</a>
            	<a class="container block_cote" href="#">8</a>
            	<a class="container block_cote" href="#">9</a>
            	<a class="container block_cote" href="#">10</a>
            	<a class="container block_cote" href="#">11</a>
            	<a class="container block_cote" href="#">12</a>
        	</div>
            <div class="container aside">
            	<div class="item">
                	<h3>Login</h3>
                	<p>Test d'un site web flexbox : aside</p>
            	</div>
            	<div class="item">
                	<h3>Titre aside 2</h3>
                	<p>Test d'un site web flexbox : aside</p>
            	</div>
            </div>
            <div class="container main">
				<div class="container article">           
					<h1>Calculez votre consommation carbone</h1>
					<p>Comprendre sa propre empreinte sur l'environnement est difficile sans moyen de se la représenter avec des indicateurs précis. Le formulaire ci-dessous vous permettra de comprendre où se concentrent vos dépenses énergétiques et de les représenter par rapport aux autres consommateurs.
					<br /></p>
					<form>
						<p>Les réponses à ces question permettront d'évaluer vos habitudes de consommation :</p>
						<input type="hidden" name="var1" value="1">
						Nom :<br><input type="text" name="var2"><br>
						Prénom :<br><input type="text" name="var3"><br>
						Age :<br><input type="text" name="var4"><br><br>
						<button type="submit" formaction="http://localhost:8080/projet/microservice-test" target="_blank">Envoi</button>
					</form>
				</div>
			</div>
		</div>
        <div class="container footer">
            <p>Copyright test - Tous droits réservés</p>
        </div>
        
    </body>
</html>