<section>
    <article class="article1">
        <h1>{{title1}}</h1>
        <p>
            Nom de la Compagnie : <input type="text" ng-model="CompanyName">
        </p>
        <p>
            Nom du Capitaine : <input type="text" ng-model="CaptainName">
        </p>
        <p>
            En ce temps la, la {{CompanyName}} menee par le capitaine {{CaptainName}} servait...
        </p>
    </article>
    <div class="aside-content">
        <aside>
            <p>{{aside1a}}</p>
        </aside>
        <aside>
            <p>{{aside1b}}</p>
        </aside>
    </div>
</section>
<!--
<section>
    <article>
        <h1>{{title2}}</h1>
        <p>{{content2}}</p>
    </article>
    <div class="aside-content">
        <aside>
            <p>{{aside2a}}</p>
        </aside>
    </div>
</section>
-->